Repository xournalpp/xournalpp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/dependencies/msys2-blob.yml, azure-pipelines/gen-lua-def-run.yml, azure-pipelines/util/mingw-blob.yml

Path conditions:
  azure-pipelines/CI.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/clang-format-applied.yml: any of: *.c, *.cpp, *.h, *.hpp, but not: po/xournalpp.pot, po/*.po
  azure-pipelines/continuous-integration.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/dependencies/msys2-blob.yml: any of: windows-setup/build-*.sh
  azure-pipelines/gen-lua-def-run.yml: any of: src/core/plugin/luapi_application.h
  azure-pipelines/util/mingw-blob.yml: any of: windows-setup/build-*.sh, but not: windows-setup/build-launcher.sh, windows-setup/build-setup.sh

New translations Korean from Crowdin [skip ci]
  po/ko.po
Due: none

New translations Dutch from Crowdin [skip ci]
  po/nl.po
Due: none

New translations Norwegian from Crowdin [skip ci]
  po/no.po
Due: none

New translations Polish from Crowdin [skip ci]
  po/pl.po
Due: none

New translations Portuguese from Crowdin [skip ci]
  po/pt_PT.po
Due: none

New translations Russian from Crowdin [skip ci]
  po/ru.po
Due: none

New translations Slovenian from Crowdin [skip ci]
  po/sl_SI.po
Due: none

New translations Swedish from Crowdin [skip ci]
  po/sv.po
Due: none

New translations Turkish from Crowdin [skip ci]
  po/tr.po
Due: none

New translations Ukrainian from Crowdin [skip ci]
  po/uk_UA.po
Due: none

New translations Chinese Simplified from Crowdin [skip ci]
  po/zh.po
Due: none

New translations Chinese Traditional from Crowdin [skip ci]
  po/zh_TW.po
Due: none

New translations Vietnamese from Crowdin [skip ci]
  po/vi.po
Due: none

New translations Galician from Crowdin [skip ci]
  po/gl.po
Due: none

New translations Portuguese, Brazilian from Crowdin [skip ci]
  po/pt_BR.po
Due: none

New translations Indonesian from Crowdin [skip ci]
  po/id.po
Due: none

New translations Tamil from Crowdin [skip ci]
  po/ta_IN.po
Due: none

New translations Bengali from Crowdin [skip ci]
  po/bn_BD.po
Due: none

New translations Thai from Crowdin [skip ci]
  po/th.po
Due: none

New translations Hindi from Crowdin [skip ci]
  po/hi.po
Due: none

New translations Esperanto from Crowdin [skip ci]
  po/eo_UY.po
Due: none

New translations Chinese Traditional, Hong Kong from Crowdin [skip ci]
  po/zh_HK.po
Due: none

New translations Malayalam from Crowdin [skip ci]
  po/ml_IN.po
Due: none

New translations Sinhala from Crowdin [skip ci]
  po/si_LK.po
Due: none

feat: Add recolor/inversion of drawing ares (#6090)
  src/core/control/Control.cpp
  src/core/control/settings/RecolorParameters.h
  src/core/control/settings/Settings.cpp
  src/core/control/settings/Settings.h
  src/core/gui/dialog/SettingsDialog.cpp
  src/core/gui/dialog/toolbarCustomize/ToolbarAdapter.cpp
  src/core/gui/sidebar/previews/base/SidebarPreviewBaseEntry.cpp
  src/core/gui/toolbarMenubar/ColorToolItem.cpp
  src/core/gui/toolbarMenubar/ColorToolItem.h
  src/core/gui/toolbarMenubar/ToolMenuHandler.cpp
  src/core/gui/toolbarMenubar/ToolMenuHandler.h
  src/core/gui/toolbarMenubar/icon/ColorIcon.cpp
  src/core/gui/toolbarMenubar/icon/ColorIcon.h
  src/core/gui/widgets/XournalWidget.cpp
  src/util/Recolor.cpp
  src/util/include/util/Recolor.h
  ui/settings.glade
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Github action to push translatable strings to Crowdin
  .github/workflows/translation.yml
  CMakeLists.txt
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Remove deprecated -s option for xgettext
  cmake/find/Gettext.cmake
  po/CMakeLists.txt
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Github Action to download translated strings from Crowdin
  .github/workflows/download-translations-from-crowdin.yml
  .github/workflows/upload-translatable-strings-to-crowdin.yml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fixup to Crowdin action
  .github/workflows/download-translations-from-crowdin.yml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

[skip ci] Update translation files
  po/fr.po
  po/xournalpp.pot
Due: none

Agregado boton Start en la pagina de inicio
  src/core/gui/HomeWindow.cpp
  src/core/gui/HomeWindow.h
  ui/homepage.glade
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add Navigation actions
  src/core/control/Control.cpp
  src/core/control/ScrollHandler.cpp
  src/core/control/ScrollHandler.h
  src/core/control/actions/ActionProperties.h
  src/core/enums/Action.enum.h
  src/core/enums/generated/Action.NameMap.generated.h
  src/core/gui/toolbarMenubar/ToolMenuHandler.cpp
  src/core/plugin/ActionBackwardCompatibilityLayer.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Unify key binding implementation in XournalView
  src/core/control/Control.cpp
  src/core/control/KeyBindingsGroup.h
  src/core/control/ScrollHandler.cpp
  src/core/control/ScrollHandler.h
  src/core/control/tools/BaseShapeHandler.h
  src/core/control/tools/EditSelection.cpp
  src/core/control/tools/EditSelection.h
  src/core/control/tools/TextEditor.cpp
  src/core/control/tools/TextEditor.h
  src/core/control/tools/TextEditorKeyBindings.h
  src/core/gui/PageView.cpp
  src/core/gui/XournalView.cpp
  src/core/gui/XournalViewKeyBindings.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Update src/util/PathUtil.cpp
  src/util/PathUtil.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add contructor to KeyEvent
  src/core/gui/inputdevices/InputContext.cpp
  src/core/gui/inputdevices/InputEvents.cpp
  src/core/gui/inputdevices/InputEvents.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fixup compile and some issues regarding resource cleanups
  src/core/control/Control.cpp
  src/core/control/XournalMain.cpp
  src/core/control/jobs/BaseExportJob.cpp
  src/core/control/stockdlg/ImageOpenDlg.cpp
  src/core/control/stockdlg/XojOpenDlg.cpp
  src/core/gui/dialog/LatexSettingsPanel.cpp
  src/core/gui/dialog/PageTemplateDialog.cpp
  src/core/gui/inputdevices/HandRecognition.cpp
  src/util/PathUtil.cpp
  src/util/include/util/PathUtil.h
  src/xoj-preview-extractor/xournalpp-thumbnailer.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

fixup lua
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml
