Repository xournalpp/xournalpp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/dependencies/msys2-blob.yml, azure-pipelines/gen-lua-def-run.yml, azure-pipelines/util/mingw-blob.yml

azure-pipelines/CI.yml:
  stages:
  - stage: Build_Test_Stage
    jobs:
    - job: Linux
      pool:
        vmImage: ubuntu-16.04
      displayName: Test Xournal++ on Linux
      steps:
      - template: steps/build_linux.yml
        parameters:
          build_type: Debug
  ...

azure-pipelines/clang-format-applied.yml:
  stages:
  - stage: Build_Test_Stage
    jobs:
    - job: Build_Test
      pool:
        vmImage: ubuntu-20.04
      displayName: Test for correct Clang formatting
      variables:
      - name: CLANG_FORMAT_VERSIONS
        value: 15 16
      steps:
      - checkout: self
  ...

azure-pipelines/continuous-integration.yml:
  stages:
  - stage: Build_Test_Stage
    jobs:
    - job: Linux
      pool:
        vmImage: ubuntu-22.04
      displayName: Test Xournal++ on Linux
      steps:
      - template: steps/install_deps_ubuntu.yml
      - template: steps/build_linux.yml
        parameters:
          build_type: Debug
  ...

azure-pipelines/dependencies/msys2-blob.yml:
  pool:
    vmImage: windows-2019
  steps:
  - script: 'git clone https://github.com/msys2/msys2-ci-base.git C:\msys64
  
      rm -rf C:\msys64\.git
  
      '
    displayName: Install MSYS2
  - script: 'set PATH=C:\msys64\usr\bin;C:\msys64\mingw64\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
  
  ...

azure-pipelines/gen-lua-def-run.yml:
  stages:
  - stage: Build_Test_Stage
    jobs:
    - job: Build_Test
      pool:
        vmImage: ubuntu-20.04
      displayName: Test if lua definitions file is up-to-date
      steps:
      - checkout: self
      - bash: 'sudo apt-get update
  
          sudo apt-get install python3
  
          '
  ...

azure-pipelines/util/mingw-blob.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - script: 'git clone https://github.com/msys2/msys2-ci-base.git C:\msys64
  
      rm -rf C:\msys64\.git
  
      '
    displayName: Install MSYS2
  - script: 'set PATH=C:\msys64\usr\bin;C:\msys64\mingw64\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
  
  ...

Fix warning in Windows build of Scheduler
  src/core/control/jobs/Scheduler.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

more timing of benchmark
  src/core/view/TexImageView.cpp
  test/benchmarks/RenderBenchmarkTest.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Default rendering algorithm to PARALLEL_LOOP
  .github/available-build-targets.json
  CMakeLists.txt
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

fixup
  cmake/find/FindExecution.cmake
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Revert "Recognize triangles"
  src/core/control/shaperecognizer/ShapeRecognizer.cpp
  src/core/control/shaperecognizer/ShapeRecognizer.h
  src/core/control/shaperecognizer/ShapeRecognizerConfig.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Recognize triangles
  src/core/control/shaperecognizer/ShapeRecognizer.cpp
  src/core/control/shaperecognizer/ShapeRecognizer.h
  src/core/control/shaperecognizer/ShapeRecognizerConfig.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fix deadlock when using "Select All" when something is already selected
  src/core/control/Control.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fixup to Add Lua API
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Make ToString methods static constexpr and return string_view
  src/core/control/Control.cpp
  src/core/control/ToolEnums.cpp
  src/core/control/ToolEnums.h
  src/core/control/ToolHandler.cpp
  src/core/control/settings/Settings.cpp
  src/core/control/tools/EditSelection.cpp
  src/core/control/tools/EditSelection.h
  src/core/gui/dialog/SelectOpacityDialog.cpp
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

redesign of ShapeRecognizer
  src/core/control/shaperecognizer/CircleRecognizer.cpp
  src/core/control/shaperecognizer/CircleRecognizer.h
  src/core/control/shaperecognizer/Inertia.cpp
  src/core/control/shaperecognizer/Inertia.h
  src/core/control/shaperecognizer/RecoSegment.cpp
  src/core/control/shaperecognizer/RecoSegment.h
  src/core/control/shaperecognizer/ShapeRecognizer.cpp
  src/core/control/shaperecognizer/ShapeRecognizer.h
  src/core/control/shaperecognizer/ShapeRecognizerConfig.h
  src/core/control/shaperecognizer/Stroke_Shape_Recognizer.cpp
  src/core/control/shaperecognizer/Stroke_Shape_Recognizer.h
  src/core/control/tools/StrokeHandler.cpp
  src/core/control/tools/StrokeHandler.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

clang_format
  src/core/control/shaperecognizer/Stroke_Shape_Recognizer.cpp
  src/core/control/shaperecognizer/Stroke_Shape_Recognizer.h
  src/core/control/tools/StrokeHandler.cpp
  src/core/control/tools/StrokeHandler.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fix for Issue-3452
  src/core/control/ExportHelper.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Recognize triangles (#6641)
  src/core/control/shaperecognizer/ShapeRecognizer.cpp
  src/core/control/shaperecognizer/ShapeRecognizer.h
  src/core/control/shaperecognizer/ShapeRecognizerConfig.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Remove unecessary debug output in ActionDatabaseTest
  test/unit_tests/control/ActionDatabaseTest.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

added return statement
  src/core/control/ExportHelper.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Apply attach attribute to pixmap backgrounds on file load
  src/core/control/xojfile/LoadHandler.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fix typo in clipboard input stream length check
  src/util/serializing/ObjectInputStream.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fix typo in clipboard input stream length check (#6679)
  src/util/serializing/ObjectInputStream.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Reset DPI to default if the value in the settings is non-positive. This may happen if the user opens v1.3 and enables automatic DPI detection
  src/core/control/settings/Settings.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Reset DPI to default if the value in the settings is non-positive. This may happen if the user opens v1.3 and enables automatic DPI detection (#6681)
  src/core/control/settings/Settings.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Apply attach attribute to pixmap backgrounds on file load (#6678)
  src/core/control/xojfile/LoadHandler.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Apply clang-format to ExportHelper.cpp
  src/core/control/ExportHelper.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fix: Prevent export from overwriting background PDF [Issue #3452] (#6675)
  src/core/control/ExportHelper.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Expose Floating Toolbox to Lua API with Cursor Position Option
  plugins/luapi_application.def.lua
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Split floating toolbox API into getCursorPosition() and showFloatingToolbox();
  plugins/luapi_application.def.lua
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Use lua_setfield in getCursorPosition
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

[skip ci] Update translation files
  po/cs.po
  po/eu.po
  po/fr.po
  po/it.po
  po/sv.po
  po/xournalpp.pot
Due: none

Use utf8 view
  src/core/control/settings/Settings.cpp
  src/core/control/xojfile/LoadHandler.cpp
  src/core/gui/dialog/SettingsDialog.cpp
  src/core/model/BackgroundImage.h
  src/core/model/Document.cpp
  src/util/PathUtil.cpp
  src/util/include/util/PathUtil.h
  src/util/include/util/PointerContainerView.h
  src/util/include/util/ViewIteratorBase.h
  src/util/include/util/utf8_view.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

fix floating toolbox clamping; **Note:** is always getting mouse on wayland even if stylus is active
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/gui/FloatingToolbox.cpp
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Add template parameter for source type in utf8_view
  src/core/control/settings/Settings.cpp
  src/util/include/util/utf8_view.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fix drawing of dashed strokes while writing
  src/core/model/StrokeContour.cpp
  src/core/model/StrokeContour.h
  src/core/view/StrokeViewHelper.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Added functionality to drop .mp3, .wav, and .ogg files onto a selected object
  src/core/control/tools/EditSelection.cpp
  src/core/control/tools/EditSelection.h
  src/core/control/tools/EditSelectionContents.cpp
  src/core/control/tools/EditSelectionContents.h
  src/core/gui/MainWindow.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

drop getCursorPosition for wayland computability issues
  plugins/luapi_application.def.lua
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Path conditions:
  azure-pipelines/CI.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/clang-format-applied.yml: any of: *.c, *.cpp, *.h, *.hpp, but not: po/xournalpp.pot, po/*.po
  azure-pipelines/continuous-integration.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/dependencies/msys2-blob.yml: any of: windows-setup/build-*.sh
  azure-pipelines/gen-lua-def-run.yml: any of: src/core/plugin/luapi_application.h
  azure-pipelines/util/mingw-blob.yml: any of: windows-setup/build-*.sh, but not: windows-setup/build-launcher.sh, windows-setup/build-setup.sh
