Repository xournalpp/xournalpp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/dependencies/msys2-blob.yml, azure-pipelines/gen-lua-def-run.yml, azure-pipelines/util/mingw-blob.yml

Path conditions:
  azure-pipelines/CI.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/clang-format-applied.yml: any of: *.c, *.cpp, *.h, *.hpp, but not: po/xournalpp.pot, po/*.po
  azure-pipelines/continuous-integration.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/dependencies/msys2-blob.yml: any of: windows-setup/build-*.sh
  azure-pipelines/gen-lua-def-run.yml: any of: src/core/plugin/luapi_application.h
  azure-pipelines/util/mingw-blob.yml: any of: windows-setup/build-*.sh, but not: windows-setup/build-launcher.sh, windows-setup/build-setup.sh

Update src/core/gui/MainWindow.cpp
  src/core/gui/MainWindow.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add Lua API for font configuration
  plugins/luapi_application.def.lua
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Add TOGGLE_TOUCH_DRAWING to All Tools toolbar
  resources-templates/toolbar.ini.in
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Expose Floating Toolbox to Lua API with Cursor Position Option
  plugins/luapi_application.def.lua
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Split floating toolbox API into getCursorPosition() and showFloatingToolbox();
  plugins/luapi_application.def.lua
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

fix floating toolbox clamping; **Note:** is always getting mouse on wayland even if stylus is active
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/gui/FloatingToolbox.cpp
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Use lua_setfield in getCursorPosition
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

drop getCursorPosition for wayland computability issues
  plugins/luapi_application.def.lua
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

refactor: address FloatingToolbox code review feedback (std::clamp, [[fallthrough]])
  src/core/gui/FloatingToolbox.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Expose Floating Toolbox to Lua API; Floating Toolbox clamping logic
  plugins/luapi_application.def.lua
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/gui/FloatingToolbox.cpp
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Add toolbar toggle for touch drawing
  resources-templates/toolbar.ini.in
  src/core/control/Control.cpp
  src/core/control/actions/ActionProperties.h
  src/core/enums/Action.enum.h
  src/core/enums/generated/Action.NameMap.generated.h
  src/core/gui/toolbarMenubar/ToolMenuHandler.cpp
  ui/iconsColor-dark/hicolor/scalable/actions/xopp-touch-drawing.svg
  ui/iconsColor-light/hicolor/scalable/actions/xopp-touch-drawing.svg
  ui/iconsLucide-dark/hicolor/scalable/actions/xopp-touch-drawing.svg
  ui/iconsLucide-light/hicolor/scalable/actions/xopp-touch-drawing.svg
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fix inertia calculation for minimal segments in shape recognizer
  src/core/control/shaperecognizer/CircleRecognizer.cpp
  src/core/control/shaperecognizer/Inertia.cpp
  src/core/control/shaperecognizer/Inertia.h
  src/core/control/shaperecognizer/ShapeRecognizer.cpp
  src/core/control/shaperecognizer/ShapeRecognizer.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

attributo UID per identificare le pagine
  src/core/control/xojfile/SaveHandler.cpp
  src/core/model/Text.cpp
  src/core/model/Text.h
  src/core/model/XojPage.cpp
  src/core/model/XojPage.h
  src/util/StringUtils.cpp
  src/util/include/util/StringUtils.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Bug fixed
  src/core/control/jobs/SaveJob.cpp
  src/core/control/xml/XmlNode.cpp
  src/core/control/xml/XmlNode.h
  src/core/control/xojfile/LoadHandler.cpp
  src/core/model/Document.cpp
  src/core/model/Document.h
  src/core/model/XojPage.cpp
  src/core/model/XojPage.h
  src/core/undo/UndoRedoHandler.cpp
  src/core/undo/UndoRedoHandler.h
  src/util/OutputStream.cpp
  src/util/StringUtils.cpp
  src/util/include/util/StringUtils.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Funziona correttamente ma...
  src/core/control/jobs/SaveJob.cpp
  src/core/control/xml/XmlNode.cpp
  src/core/control/xojfile/LoadHandler.cpp
  src/core/control/xojfile/SaveHandler.cpp
  src/util/StringUtils.cpp
  src/util/include/util/StringUtils.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Da 17s -> 6s circa
  src/core/control/jobs/SaveJob.cpp
  src/core/control/xml/XmlNode.cpp
  src/core/control/xojfile/LoadHandler.cpp
  src/core/control/xojfile/SaveHandler.cpp
  src/util/StringUtils.cpp
  src/util/include/util/StringUtils.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Progress bar fixed
  src/core/control/jobs/SaveJob.cpp
  src/core/control/xml/XmlNode.cpp
  src/core/control/xojfile/LoadHandler.cpp
  src/core/undo/UndoRedoHandler.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

feat(graph): support bold lines every Nth interval (#6744)
  resources-templates/pagetemplates.ini.in
  src/core/model/BackgroundConfig.h
  src/core/view/background/GraphBackgroundView.cpp
  src/core/view/background/GraphBackgroundView.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Removed all unnecessary Italian comments and warnings
  src/core/control/jobs/SaveJob.cpp
  src/core/control/xml/XmlNode.cpp
  src/core/control/xojfile/LoadHandler.cpp
  src/core/control/xojfile/SaveHandler.cpp
  src/core/model/Text.cpp
  src/core/model/Text.h
  src/core/undo/UndoRedoHandler.cpp
  src/util/OutputStream.cpp
  src/util/StringUtils.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Replaced g_ascii_format with std::to_chars - Introduced a bug
  src/core/control/jobs/SaveJob.cpp
  src/core/control/settings/Settings.cpp
  src/core/control/xml/DoubleArrayAttribute.cpp
  src/core/control/xml/DoubleAttribute.cpp
  src/util/Util.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Update MacBuild.md
  readme/MacBuild.md
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fixed 2 bugs but introduced a Race Condition
  src/core/control/jobs/SaveJob.cpp
  src/core/control/xml/XmlNode.cpp
  src/core/model/XojPage.cpp
  src/core/undo/UndoRedoHandler.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

[skip ci] Update translation files
  po/ca.po
  po/fr.po
  po/hu.po
  po/xournalpp.pot
Due: none

"Race condition" fixed
  src/core/control/jobs/SaveJob.cpp
  src/core/control/xml/XmlNode.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Code refractored
  src/core/control/jobs/SaveJob.cpp
  src/core/control/jobs/SaveJob.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

fix: handle unicode filenames in zip operations on windows #6756
  src/core/control/xojfile/LoadHandler.cpp
  src/exe/Xournalpp.cpp
  src/util/XojPreviewExtractor.cpp
  src/util/ZipUtil.cpp
  src/util/include/util/ZipUtil.h
  src/xoj-preview-extractor/CMakeLists.txt
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

replace redundant code with utility win32args
  src/exe/Xournalpp.cpp
  src/util/Win32ArgsUtil.cpp
  src/util/ZipUtil.cpp
  src/util/include/util/Win32ArgsUtil.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

apply clang formatting
  src/util/XojPreviewExtractor.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

sinus drawing too: adaptive width-period factor
  src/core/control/tools/SinusHandler.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Amend small details
  src/core/control/xojfile/XmlParser.cpp
  src/core/control/xojfile/XmlParserHelper.cpp
  src/core/control/xojfile/XmlParserHelper.h
  src/util/include/util/StringUtils.h
  src/util/include/util/Util.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Declare all strings used for file loading and saving as UTF-8
  src/core/control/xml/Attribute.cpp
  src/core/control/xml/Attribute.h
  src/core/control/xml/DoubleArrayAttribute.cpp
  src/core/control/xml/DoubleArrayAttribute.h
  src/core/control/xml/DoubleAttribute.cpp
  src/core/control/xml/DoubleAttribute.h
  src/core/control/xml/IntAttribute.cpp
  src/core/control/xml/IntAttribute.h
  src/core/control/xml/SizeTAttribute.cpp
  src/core/control/xml/SizeTAttribute.h
  src/core/control/xml/TextAttribute.cpp
  src/core/control/xml/TextAttribute.h
  src/core/control/xml/XmlNode.cpp
  src/core/control/xml/XmlNode.h
  src/core/control/xojfile/LoadHandler.cpp
  src/core/control/xojfile/LoadHandler.h
  src/core/control/xojfile/SaveHandler.cpp
  src/core/control/xojfile/XmlAttrs.h
  src/core/control/xojfile/XmlParser.cpp
  src/core/control/xojfile/XmlParser.h
  src/core/control/xojfile/XmlParserHelper.cpp
  src/core/control/xojfile/XmlParserHelper.h
  src/core/control/xojfile/XmlTags.h
  src/core/model/Stroke.h
  src/util/OutputStream.cpp
  src/util/include/util/OutputStream.h
  src/util/include/util/StringUtils.h
  src/util/include/util/utf8_view.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Simplify AttributeMap
  src/core/control/xojfile/XmlParser.cpp
  src/core/control/xojfile/XmlParserHelper.cpp
  src/core/control/xojfile/XmlParserHelper.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Update ExpHandler controls
  src/core/control/tools/ExpHandler.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Recognized strokes should also be updated
  src/core/control/tools/StrokeHandler.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Updated writing the new layer spans
  src/core/control/xojfile/SaveHandler.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml
