Repository xournalpp/xournalpp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/dependencies/msys2-blob.yml, azure-pipelines/gen-lua-def-run.yml, azure-pipelines/util/mingw-blob.yml

Path conditions:
  azure-pipelines/CI.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/clang-format-applied.yml: any of: *.c, *.cpp, *.h, *.hpp, but not: po/xournalpp.pot, po/*.po
  azure-pipelines/continuous-integration.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/dependencies/msys2-blob.yml: any of: windows-setup/build-*.sh
  azure-pipelines/gen-lua-def-run.yml: any of: src/core/plugin/luapi_application.h
  azure-pipelines/util/mingw-blob.yml: any of: windows-setup/build-*.sh, but not: windows-setup/build-launcher.sh, windows-setup/build-setup.sh

Fixed a typo in setting description
  ui/settings.glade
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Allow motion up to five pixels from start in undo gesture
  src/core/gui/inputdevices/TouchInputHandler.cpp
  src/core/gui/inputdevices/TouchInputHandler.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

reverted formating changes to ui/settings.glade
  ui/settings.glade
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Apply patch to cairo on Windows to workaround #6014
  .github/actions/install_deps_windows/action.yml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

New translations Hungarian from Crowdin [skip ci]
  po/hu.po
Due: none

New Crowdin updates (#5966)
  po/af_ZA.po
  po/ar.po
  po/bn_BD.po
  po/ca.po
  po/cs.po
  po/da.po
  po/de.po
  po/el.po
  po/eo_UY.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/gl.po
  po/he.po
  po/hi.po
  po/hu.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/ml_IN.po
  po/nl.po
  po/no.po
  po/pl.po
  po/pt_BR.po
  po/pt_PT.po
  po/ro.po
  po/ru.po
  po/si_LK.po
  po/sl_SI.po
  po/sv.po
  po/ta_IN.po
  po/th.po
  po/tr.po
  po/uk_UA.po
  po/vi.po
  po/zh.po
  po/zh_HK.po
  po/zh_TW.po
Due: none

Automated version bump to 1.2.6~dev
  CHANGELOG.md
  CMakeLists.txt
  debian/changelog
  desktop/com.github.xournalpp.xournalpp.appdata.xml
  mac-setup/Info.plist
  rpm/fedora/xournalpp.spec
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Release 1.2.5
  CHANGELOG.md
  CMakeLists.txt
  debian/changelog
  desktop/com.github.xournalpp.xournalpp.appdata.xml
  mac-setup/Info.plist
  rpm/fedora/xournalpp.spec
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Update changelog prior to release 1.2.5
  CHANGELOG.md
  debian/changelog
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Github action to push translatable strings to Crowdin
  .github/workflows/translation.yml
  CMakeLists.txt
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Github Action to download translated strings from Crowdin
  .github/workflows/download-translations-from-crowdin.yml
  .github/workflows/upload-translatable-strings-to-crowdin.yml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Remove deprecated -s option for xgettext
  cmake/find/Gettext.cmake
  po/CMakeLists.txt
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Actually use the new paperSizeForNewPages in PageBackgroundController for creating new pages
  src/core/control/PageBackgroundChangeController.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Update page type for new pages when ToolMenuHandler::setDefaultNewPageType is called
  src/core/gui/toolbarMenubar/ToolMenuHandler.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Generate release messages automatically
  .github/workflows/create-release.yml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Draft: Fix all wrong usages of g_filename either passing a utf8 string to a glib/gtk API which expects a g_filename or the other way round.
  src/core/control/ExportHelper.cpp
  src/core/control/ExportHelper.h
  src/core/control/XournalMain.cpp
  src/core/control/latex/LatexGenerator.cpp
  src/core/control/pagetype/PageTypeHandler.cpp
  src/core/control/stockdlg/ImageOpenDlg.cpp
  src/core/control/stockdlg/XojOpenDlg.cpp
  src/core/control/xojfile/SaveHandler.cpp
  src/core/gui/MainWindow.cpp
  src/core/gui/dialog/PageTemplateDialog.cpp
  src/core/gui/inputdevices/HandRecognition.cpp
  src/core/gui/toolbarMenubar/model/ToolbarModel.cpp
  src/core/model/BackgroundImage.cpp
  src/core/plugin/luapi_application.h
  src/filesystem.h.in
  src/util/PathUtil.cpp
  src/util/XojPreviewExtractor.cpp
  src/util/include/util/PathUtil.h
  src/util/include/util/raii/CStringWrapper.h
  src/util/include/util/raii/GLibGuards.h
  src/util/raii/CStringWrapper.cpp
  src/xoj-preview-extractor/xournalpp-thumbnailer.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Adding init of new window page, its glade file and controller
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/control/XournalMain.cpp
  src/core/gui/GladeGui.cpp
  src/core/gui/HomeWindow.cpp
  src/core/gui/HomeWindow.h
  src/core/gui/MainWindow.cpp
  src/core/gui/MainWindow.h
  ui/homepage.glade
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

note on lagging
  ui/settings.glade
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

New translations Chinese Simplified from Crowdin [skip ci]
  po/zh.po
Due: none

Unify key binding implementation in XournalView
  src/core/control/Control.cpp
  src/core/control/KeyBindingsGroup.h
  src/core/control/ScrollHandler.cpp
  src/core/control/ScrollHandler.h
  src/core/control/actions/ActionProperties.h
  src/core/control/tools/BaseShapeHandler.h
  src/core/control/tools/EditSelection.cpp
  src/core/control/tools/EditSelection.h
  src/core/control/tools/TextEditor.h
  src/core/control/tools/TextEditorKeyBindings.h
  src/core/enums/Action.enum.h
  src/core/enums/generated/Action.NameMap.generated.h
  src/core/gui/PageView.cpp
  src/core/gui/XournalView.cpp
  src/core/gui/XournalView.h
  src/core/gui/XournalViewKeyBindings.h
  src/core/gui/toolbarMenubar/ToolMenuHandler.cpp
  src/core/plugin/ActionBackwardCompatibilityLayer.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

New translations Romanian from Crowdin [skip ci]
  po/ro.po
Due: none

New translations French from Crowdin [skip ci]
  po/fr.po
Due: none

New translations Spanish from Crowdin [skip ci]
  po/es.po
Due: none

New translations Afrikaans from Crowdin [skip ci]
  po/af_ZA.po
Due: none

New translations Arabic from Crowdin [skip ci]
  po/ar.po
Due: none

New translations Catalan from Crowdin [skip ci]
  po/ca.po
Due: none

New translations Czech from Crowdin [skip ci]
  po/cs.po
Due: none

New translations Danish from Crowdin [skip ci]
  po/da.po
Due: none

New translations German from Crowdin [skip ci]
  po/de.po
Due: none

New translations Greek from Crowdin [skip ci]
  po/el.po
Due: none

New translations Basque from Crowdin [skip ci]
  po/eu.po
Due: none

New translations Finnish from Crowdin [skip ci]
  po/fi.po
Due: none

New translations Hebrew from Crowdin [skip ci]
  po/he.po
Due: none

New translations Italian from Crowdin [skip ci]
  po/it.po
Due: none

New translations Japanese from Crowdin [skip ci]
  po/ja.po
Due: none
