Repository xournalpp/xournalpp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/dependencies/msys2-blob.yml, azure-pipelines/gen-lua-def-run.yml, azure-pipelines/util/mingw-blob.yml

Path conditions:
  azure-pipelines/CI.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/clang-format-applied.yml: any of: *.c, *.cpp, *.h, *.hpp, but not: po/xournalpp.pot, po/*.po
  azure-pipelines/continuous-integration.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/dependencies/msys2-blob.yml: any of: windows-setup/build-*.sh
  azure-pipelines/gen-lua-def-run.yml: any of: src/core/plugin/luapi_application.h
  azure-pipelines/util/mingw-blob.yml: any of: windows-setup/build-*.sh, but not: windows-setup/build-launcher.sh, windows-setup/build-setup.sh

New translations Swedish from Crowdin [skip ci]
  po/sv.po
Due: none

New translations Turkish from Crowdin [skip ci]
  po/tr.po
Due: none

New translations Ukrainian from Crowdin [skip ci]
  po/uk_UA.po
Due: none

New translations Chinese Simplified from Crowdin [skip ci]
  po/zh.po
Due: none

New translations Chinese Traditional from Crowdin [skip ci]
  po/zh_TW.po
Due: none

New translations Galician from Crowdin [skip ci]
  po/gl.po
Due: none

New translations Indonesian from Crowdin [skip ci]
  po/id.po
Due: none

New translations Tamil from Crowdin [skip ci]
  po/ta_IN.po
Due: none

New translations Bengali from Crowdin [skip ci]
  po/bn_BD.po
Due: none

New translations Thai from Crowdin [skip ci]
  po/th.po
Due: none

New translations Hindi from Crowdin [skip ci]
  po/hi.po
Due: none

New translations Esperanto from Crowdin [skip ci]
  po/eo_UY.po
Due: none

New translations Chinese Traditional, Hong Kong from Crowdin [skip ci]
  po/zh_HK.po
Due: none

New translations Malayalam from Crowdin [skip ci]
  po/ml_IN.po
Due: none

New translations Sinhala from Crowdin [skip ci]
  po/si_LK.po
Due: none

New translations Spanish from Crowdin [skip ci]
  po/es.po
Due: none

add a plugin which automatically inserts empty pages
  plugins/BatchChanges/main.lua
  plugins/BatchChanges/plugin.ini
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

bugfixes and cleanup
  plugins/BatchChanges/main.lua
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

rename plugin
  plugins/SpaceForNotes/main.lua
  plugins/SpaceForNotes/plugin.ini
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

New translations Romanian from Crowdin [skip ci]
  po/ro.po
Due: none

New translations Italian from Crowdin [skip ci]
  po/it.po
Due: none

luaAPI: add function to obtain the pdf pagelabel
  plugins/luapi_application.def.lua
  src/core/pdf/base/XojPdfPage.h
  src/core/pdf/popplerapi/PopplerGlibPage.cpp
  src/core/pdf/popplerapi/PopplerGlibPage.h
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

add a plugin to step through beamer presentations slide by slide (not page by page)
  plugins/BeamerPresentation/main.lua
  plugins/BeamerPresentation/plugin.ini
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

New translations French from Crowdin [skip ci]
  po/fr.po
Due: none

New translations Czech from Crowdin [skip ci]
  po/cs.po
Due: none

New translations Korean from Crowdin [skip ci]
  po/ko.po
Due: none

New translations Hungarian from Crowdin [skip ci]
  po/hu.po
Due: none

Fix selection order bring forward action for plugins
  src/core/plugin/ActionBackwardCompatibilityLayer.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Create cmake-single-platform.yml
  .github/workflows/cmake-single-platform.yml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Implemented default page zoom (#2)
  src/core/control/Control.cpp
  src/core/control/settings/Settings.cpp
  src/core/control/settings/Settings.h
  src/core/gui/dialog/SettingsDialog.cpp
  src/core/gui/dialog/SettingsDialog.h
  ui/settings.glade
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

FIXED: applied clang-format
  src/core/control/Control.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml
