Repository xournalpp/xournalpp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/dependencies/msys2-blob.yml, azure-pipelines/gen-lua-def-run.yml, azure-pipelines/util/mingw-blob.yml

azure-pipelines/CI.yml:
  stages:
  - stage: Build_Test_Stage
    jobs:
    - job: Linux
      pool:
        vmImage: ubuntu-16.04
      displayName: Test Xournal++ on Linux
      steps:
      - template: steps/build_linux.yml
        parameters:
          build_type: Debug
  ...

azure-pipelines/clang-format-applied.yml:
  stages:
  - stage: Build_Test_Stage
    jobs:
    - job: Build_Test
      pool:
        vmImage: ubuntu-20.04
      displayName: Test for correct Clang formatting
      variables:
      - name: CLANG_FORMAT_VERSIONS
        value: 15 16
      steps:
      - checkout: self
  ...

azure-pipelines/continuous-integration.yml:
  stages:
  - stage: Build_Test_Stage
    jobs:
    - job: Linux
      pool:
        vmImage: ubuntu-22.04
      displayName: Test Xournal++ on Linux
      steps:
      - template: steps/install_deps_ubuntu.yml
      - template: steps/build_linux.yml
        parameters:
          build_type: Debug
  ...

azure-pipelines/dependencies/msys2-blob.yml:
  pool:
    vmImage: windows-2019
  steps:
  - script: 'git clone https://github.com/msys2/msys2-ci-base.git C:\msys64
  
      rm -rf C:\msys64\.git
  
      '
    displayName: Install MSYS2
  - script: 'set PATH=C:\msys64\usr\bin;C:\msys64\mingw64\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
  
  ...

azure-pipelines/gen-lua-def-run.yml:
  stages:
  - stage: Build_Test_Stage
    jobs:
    - job: Build_Test
      pool:
        vmImage: ubuntu-20.04
      displayName: Test if lua definitions file is up-to-date
      steps:
      - checkout: self
      - bash: 'sudo apt-get update
  
          sudo apt-get install python3
  
          '
  ...

azure-pipelines/util/mingw-blob.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - script: 'git clone https://github.com/msys2/msys2-ci-base.git C:\msys64
  
      rm -rf C:\msys64\.git
  
      '
    displayName: Install MSYS2
  - script: 'set PATH=C:\msys64\usr\bin;C:\msys64\mingw64\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
  
  ...

Make geometry tools appear in the middle of the visible part of the current page
  src/core/control/Control.cpp
  src/core/gui/inputdevices/CompassInputHandler.cpp
  src/core/gui/inputdevices/SetsquareInputHandler.cpp
  src/core/model/Compass.cpp
  src/core/model/Compass.h
  src/core/model/Setsquare.cpp
  src/core/model/Setsquare.h
  src/core/view/CompassView.h
  src/core/view/SetsquareView.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Harden security in Github Workflow
  .github/workflows/trigger-create-installers-from-comment-on-pr.yml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Required membership to trigger \action create-installers
  .github/workflows/trigger-create-installers-from-comment-on-pr.yml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add translations for Catalan in xml files.
  desktop/com.github.xournalpp.xournalpp.appdata.xml
  desktop/com.github.xournalpp.xournalpp.xml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fix undoing adding strokes via plugin
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Fix InsertsUndoAction::redo
  src/core/undo/InsertUndoAction.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

New translations Catalan from Crowdin [skip ci]
  po/ca.po
Due: none

Add debug information for permissions when running \action create-installers from a PR
  .github/workflows/trigger-create-installers-from-comment-on-pr.yml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Check permissions to run \action create-installers CI
  .github/workflows/trigger-create-installers-from-comment-on-pr.yml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add GtkFileChooserNative support for save dialogs
  src/core/control/jobs/BaseExportJob.cpp
  src/core/gui/dialog/XojSaveDlg.cpp
  src/core/gui/dialog/XojSaveDlg.h
  src/core/plugin/luapi_application.h
  src/util/include/util/PopupWindowWrapper.h
  src/util/include/util/raii/GtkFileChooserNativeUPtr.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

revert poupwindowwrapper
  src/util/include/util/PopupWindowWrapper.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fix wrappers for save dialog
  src/core/control/Control.cpp
  src/core/control/jobs/BaseExportJob.cpp
  src/core/gui/dialog/FileDialogWrapper.cpp
  src/core/gui/dialog/FileDialogWrapper.h
  src/core/gui/dialog/XojSaveDlg.cpp
  src/core/gui/dialog/XojSaveDlg.h
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

fix typo
  src/core/gui/dialog/FileDialogWrapper.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

New translations Portuguese, Brazilian from Crowdin [skip ci]
  po/pt_BR.po
Due: none

Create PaperSize class, PaperFormatUtils and use in FormatDialog
  src/core/gui/PaperFormatUtils.cpp
  src/core/gui/PaperFormatUtils.h
  src/core/gui/dialog/FormatDialog.cpp
  src/core/gui/dialog/FormatDialog.h
  src/core/model/PaperSize.cpp
  src/core/model/PaperSize.h
  src/util/include/util/raii/GtkPaperSizeUPtr.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add page size selection to 'new page'-popover
  src/core/control/PageBackgroundChangeController.cpp
  src/core/control/PageBackgroundChangeController.h
  src/core/gui/dialog/PageTemplateDialog.cpp
  src/core/gui/menus/PageTypeSelectionMenuBase.cpp
  src/core/gui/menus/PageTypeSelectionMenuBase.h
  src/core/gui/menus/popoverMenus/PageTypeSelectionPopover.cpp
  src/core/gui/menus/popoverMenus/PageTypeSelectionPopover.h
  src/core/gui/toolbarMenubar/ToolMenuHandler.cpp
  src/core/gui/toolbarMenubar/ToolMenuHandler.h
  ui/iconsColor-dark/hicolor/scalable/actions/xopp-orientation-landscape.svg
  ui/iconsColor-dark/hicolor/scalable/actions/xopp-orientation-portrait.svg
  ui/iconsColor-light/hicolor/scalable/actions/xopp-orientation-landscape.svg
  ui/iconsColor-light/hicolor/scalable/actions/xopp-orientation-portrait.svg
  ui/xournalpp.css
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Make ImageActions plugin not delete elements that are not replaced
  plugins/ImageActions/main.lua
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Minor fixups to FitToContent and HighlightPosition plugins
  plugins/FitToContent/main.lua
  plugins/HighlightPosition/main.lua
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Modify app.addStrokes, app.addSplines, app.addTexts, app.getStrokes, app.getTexts, app.getImages
  plugins/luapi_application.def.lua
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Make app.addImages return a table of references and error messages
  plugins/luapi_application.def.lua
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Only add undo action when a positive number of elements are added
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Define applib_addToSelection and applib_clearSelection
  plugins/luapi_application.def.lua
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Remove unused variable in applib_getColorPalette, thereby fixing a warning
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

New translations Czech from Crowdin [skip ci]
  po/cs.po
Due: none

Clean Code even more
  src/core/gui/dialog/FileDialogWrapper.cpp
  src/core/gui/dialog/FileDialogWrapper.h
  src/util/include/util/raii/GtkFileChooserNativeUPtr.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Make FileDialogWrapper an actual wrapper
  src/core/control/jobs/BaseExportJob.cpp
  src/core/gui/dialog/FileDialogWrapper.cpp
  src/core/gui/dialog/FileDialogWrapper.h
  src/core/gui/dialog/XojSaveDlg.cpp
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Add open file dialogs
  src/core/gui/dialog/FileDialogWrapper.cpp
  src/core/gui/dialog/FileDialogWrapper.h
  src/core/gui/dialog/PageTemplateDialog.cpp
  src/core/gui/dialog/XojOpenDlg.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Restructure code for more unifomity
  src/core/control/jobs/BaseExportJob.cpp
  src/core/gui/dialog/FileDialogWrapper.cpp
  src/core/gui/dialog/PageTemplateDialog.cpp
  src/core/gui/dialog/XojOpenDlg.cpp
  src/core/gui/dialog/XojOpenDlg.h
  src/core/gui/dialog/XojSaveDlg.cpp
  src/core/gui/dialog/XojSaveDlg.h
  src/core/plugin/luapi_application.h
  src/util/include/util/FileDialogWrapper.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

fix formatting
  src/core/control/Control.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Try implementing windows native dialogs
  src/core/control/jobs/BaseExportJob.cpp
  src/core/control/jobs/BaseExportJob.h
  src/core/control/jobs/CustomExportJob.cpp
  src/core/control/jobs/PdfExportJob.cpp
  src/core/gui/dialog/PageTemplateDialog.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Remove mime for windows
  src/core/control/jobs/BaseExportJob.cpp
  src/core/gui/dialog/FileChooserFiltersHelper.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

fix typo
  src/core/gui/dialog/FileChooserFiltersHelper.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add kde conditional
  src/core/gui/dialog/FileChooserFiltersHelper.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Split Mac blob building into Download + Build so that downloading errors won't waste so much time
  mac-setup/CI_jhbuild.sh
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add Github Action to build and cache MacOS blobs
  .github/available-build-targets.json
  .github/workflows/cache-macos-deps.yml
  .github/workflows/trigger-create-installers-from-comment-on-pr.yml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Path conditions:
  azure-pipelines/CI.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/clang-format-applied.yml: any of: *.c, *.cpp, *.h, *.hpp, but not: po/xournalpp.pot, po/*.po
  azure-pipelines/continuous-integration.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/dependencies/msys2-blob.yml: any of: windows-setup/build-*.sh
  azure-pipelines/gen-lua-def-run.yml: any of: src/core/plugin/luapi_application.h
  azure-pipelines/util/mingw-blob.yml: any of: windows-setup/build-*.sh, but not: windows-setup/build-launcher.sh, windows-setup/build-setup.sh
