Repository xournalpp/xournalpp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/dependencies/msys2-blob.yml, azure-pipelines/gen-lua-def-run.yml, azure-pipelines/util/mingw-blob.yml

Path conditions:
  azure-pipelines/CI.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/clang-format-applied.yml: any of: *.c, *.cpp, *.h, *.hpp, but not: po/xournalpp.pot, po/*.po
  azure-pipelines/continuous-integration.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/dependencies/msys2-blob.yml: any of: windows-setup/build-*.sh
  azure-pipelines/gen-lua-def-run.yml: any of: src/core/plugin/luapi_application.h
  azure-pipelines/util/mingw-blob.yml: any of: windows-setup/build-*.sh, but not: windows-setup/build-launcher.sh, windows-setup/build-setup.sh

Improve UI layout of page template config in 'new page'-popover
  src/core/gui/menus/popoverMenus/PageTypeSelectionPopover.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Update 'Apply to current page' to support changing the current page's paper size
  src/core/control/PageBackgroundChangeController.cpp
  src/core/control/PageBackgroundChangeController.h
  src/core/gui/menus/popoverMenus/PageTypeSelectionPopover.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Don't allow orientation buttons to be 'unpressed'
  src/core/gui/menus/popoverMenus/PageTypeSelectionPopover.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Use PaperFormatUtils from FormatDialog
  src/core/gui/dialog/FormatDialog.cpp
  src/core/gui/dialog/FormatDialog.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Update 'Apply to all pages' callback to support changing the paper size of all pages
  src/core/control/PageBackgroundChangeController.cpp
  src/core/control/PageBackgroundChangeController.h
  src/core/gui/menus/popoverMenus/PageTypeSelectionPopover.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Apply suggestions and other cleanups
  src/core/control/PageBackgroundChangeController.cpp
  src/core/gui/dialog/FormatDialog.cpp
  src/core/gui/dialog/FormatDialog.h
  src/core/gui/dialog/PageTemplateDialog.cpp
  src/core/gui/menus/PageTypeSelectionMenuBase.cpp
  src/core/gui/menus/PageTypeSelectionMenuBase.h
  src/core/gui/menus/popoverMenus/PageTypeSelectionPopover.cpp
  src/core/gui/menus/popoverMenus/PageTypeSelectionPopover.h
  src/core/gui/toolbarMenubar/ToolMenuHandler.cpp
  src/core/gui/toolbarMenubar/ToolMenuHandler.h
  src/core/model/PaperSize.cpp
  src/core/model/PaperSize.h
  src/util/PaperFormatUtils.cpp
  src/util/include/util/PaperFormatUtils.h
  src/util/include/util/raii/GtkPaperSizeUPtr.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add explicit instantiations of the setSelectedPaperSize function template
  src/core/gui/menus/popoverMenus/PageTypeSelectionPopover.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Apply suggestions
  src/core/gui/PaperFormatUtils.cpp
  src/core/gui/PaperFormatUtils.h
  src/core/gui/dialog/FormatDialog.cpp
  src/core/gui/dialog/FormatDialog.h
  src/core/gui/menus/popoverMenus/PageTypeSelectionPopover.cpp
  src/core/gui/menus/popoverMenus/PageTypeSelectionPopover.h
  src/core/model/PaperSize.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Deactivate modality of popover when changing page format
  src/core/gui/menus/popoverMenus/PageTypeSelectionPopover.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Refactor OpenFile logic - make it gtk4-compatible
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/control/XournalMain.cpp
  src/core/control/xojfile/LoadHandler.cpp
  src/core/control/xojfile/LoadHandler.h
  src/core/gui/dialog/FileChooserFiltersHelper.cpp
  src/core/gui/dialog/FileChooserFiltersHelper.h
  src/core/gui/dialog/PageTemplateDialog.cpp
  src/core/gui/dialog/XojOpenDlg.cpp
  src/core/gui/dialog/XojOpenDlg.h
  src/core/plugin/luapi_application.h
  src/util/XojMsgBox.cpp
  src/util/include/util/XojMsgBox.h
  src/util/include/util/move_only_function.h
  test/unit_tests/control/LoadHandlerTest.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Refactor Control::save() and Control::saveAs() Those functions are now non-blocking and (possibly) call dialogs that are compatible with gtk4.
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/control/jobs/BaseExportJob.cpp
  src/core/control/jobs/CustomExportJob.cpp
  src/core/control/jobs/SaveJob.cpp
  src/core/control/jobs/SaveJob.h
  src/core/gui/dialog/XojSaveDlg.cpp
  src/core/gui/dialog/XojSaveDlg.h
  src/util/XojMsgBox.cpp
  src/util/include/util/XojMsgBox.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

[skip ci] Update translation template
  po/xournalpp.pot
Due: none

Replace ImageOpenDlg by gtk4-compatible version
  src/core/control/PageBackgroundChangeController.cpp
  src/core/control/stockdlg/ImageOpenDlg.cpp
  src/core/control/stockdlg/ImageOpenDlg.h
  src/core/control/tools/ImageHandler.cpp
  src/core/control/tools/ImageHandler.h
  src/core/gui/PageView.cpp
  src/core/gui/dialog/FileChooserFiltersHelper.cpp
  src/core/gui/dialog/FileChooserFiltersHelper.h
  src/core/gui/dialog/XojOpenDlg.cpp
  src/core/gui/dialog/XojOpenDlg.h
  src/core/gui/dialog/backgroundSelect/ImagesDialog.cpp
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Fix sidebar miniature in HiDPI scaling
  src/core/control/jobs/PreviewJob.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Update QuickScreenshot plugin
  plugins/QuickScreenshot/main.lua
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add app.fileDialogSave and app.fileDialogOpen
  plugins/luapi_application.def.lua
  src/core/gui/dialog/XojOpenDlg.cpp
  src/core/gui/dialog/XojOpenDlg.h
  src/core/plugin/Plugin.cpp
  src/core/plugin/Plugin.h
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Allow missing terminating newlines and empty lines in .gpl files
  src/core/gui/toolbarMenubar/model/ColorPalette.cpp
  src/core/gui/toolbarMenubar/model/ColorPalette.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fix warning in image actions plugin
  plugins/ImageActions/main.lua
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Merge Crowdin updates
  po/af_ZA.po
  po/ar.po
  po/bn_BD.po
  po/ca.po
  po/cs.po
  po/da.po
  po/de.po
  po/el.po
  po/eo_UY.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/gl.po
  po/he.po
  po/hi.po
  po/hu.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/ml_IN.po
  po/nl.po
  po/no.po
  po/pl.po
  po/pt_BR.po
  po/pt_PT.po
  po/ro.po
  po/ru.po
  po/sl_SI.po
  po/sv.po
  po/ta_IN.po
  po/th.po
  po/tr.po
  po/uk_UA.po
  po/vi.po
  po/zh.po
  po/zh_HK.po
  po/zh_TW.po
Due: none

New translations French from Crowdin [skip ci]
  po/fr.po
Due: none

Make CMake use GTK4 - Update the CI scripts accordingly
  CMakeLists.txt
  azure-pipelines/clang-format-applied.yml
  azure-pipelines/continuous-integration.yml
  azure-pipelines/create-installers.yml
  azure-pipelines/dependencies/msys2-blob.yml
  azure-pipelines/release.yml
  azure-pipelines/steps/build_mac.yml
  azure-pipelines/steps/build_windows.yml
  azure-pipelines/steps/install_deps_ubuntu.yml
  azure-pipelines/translation.yml
  src/core/gui/MainWindow.cpp
  src/core/gui/MainWindow.h
  src/util/GtkUtil.cpp
  src/util/Util.cpp
  src/util/XojMsgBox.cpp
  src/util/gdk4_helper.cpp
  src/util/gtk4_helper.cpp
  src/util/include/util/Util.h
  src/util/include/util/gdk4_helper.h
  src/util/include/util/gtk4_helper.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Change Toolbar container type
  src/core/gui/FloatingToolbox.cpp
  src/core/gui/MainWindow.cpp
  src/core/gui/MainWindow.h
  src/core/gui/ToolbarDefinitions.h
  src/core/gui/dialog/toolbarCustomize/ToolbarAdapter.cpp
  src/core/gui/dialog/toolbarCustomize/ToolbarAdapter.h
  src/core/gui/dialog/toolbarCustomize/ToolbarDragDropHandler.cpp
  src/core/gui/toolbarMenubar/AbstractToolItem.cpp
  src/core/gui/toolbarMenubar/AbstractToolItem.h
  src/core/gui/toolbarMenubar/ColorSelectorToolItem.cpp
  src/core/gui/toolbarMenubar/ColorToolItem.cpp
  src/core/gui/toolbarMenubar/FontButton.cpp
  src/core/gui/toolbarMenubar/ToolButton.cpp
  src/core/gui/toolbarMenubar/ToolMenuHandler.cpp
  src/util/GtkUtil.cpp
  src/util/include/util/GtkUtil.h
  ui/main.glade
  ui/xournalpp.css
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Replace gtk_entry_{g,s}et_text with gtk_editable
  src/core/gui/MainWindow.cpp
  src/core/gui/dialog/ButtonConfigGui.cpp
  src/core/gui/dialog/ExportDialog.cpp
  src/core/gui/dialog/LatexSettingsPanel.cpp
  src/core/gui/dialog/PageTemplateDialog.cpp
  src/core/gui/dialog/RenameLayerDialog.cpp
  src/core/gui/dialog/SettingsDialog.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Make SearchBar and TextEditor ready for gtk4
  src/core/control/tools/TextEditor.cpp
  src/core/control/tools/TextEditor.h
  src/core/gui/SearchBar.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Apply gtk4-builder-tool simplify --3to4 to backgroundSelection.ui
  src/core/gui/dialog/backgroundSelect/BackgroundSelectDialogBase.cpp
  ui/backgroundSelection.glade
  ui/backgroundSelection.ui
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fix gtk_toggle_button_get_active for CheckButton in ButtonConfigGui
  src/core/gui/dialog/ButtonConfigGui.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Run gtk4-builder-tool simplify on settingsDeviceClassConfig.ui
  src/core/gui/dialog/DeviceClassConfigGui.cpp
  ui/settingsDeviceClassConfig.ui
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fixup in gui/Builder
  src/core/gui/Builder.h
  src/core/gui/GladeSearchpath.cpp
  src/core/gui/dialog/ExportDialog.cpp
  src/core/gui/sidebar/previews/base/SidebarPreviewBase.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Apply gtk4-builder-tool simplify --3to4 to settings.ui
  src/core/gui/dialog/SettingsDialog.cpp
  ui/settings.glade
  ui/settings.ui
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Apply gtk4-builder-tool simplify --3to4 to SettingsButtonConfig.ui
  src/core/gui/dialog/ButtonConfigGui.cpp
  ui/settingsButtonConfig.ui
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml
