Repository xournalpp/xournalpp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/dependencies/msys2-blob.yml, azure-pipelines/gen-lua-def-run.yml, azure-pipelines/util/mingw-blob.yml

Path conditions:
  azure-pipelines/CI.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/clang-format-applied.yml: any of: *.c, *.cpp, *.h, *.hpp, but not: po/xournalpp.pot, po/*.po
  azure-pipelines/continuous-integration.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/dependencies/msys2-blob.yml: any of: windows-setup/build-*.sh
  azure-pipelines/gen-lua-def-run.yml: any of: src/core/plugin/luapi_application.h
  azure-pipelines/util/mingw-blob.yml: any of: windows-setup/build-*.sh, but not: windows-setup/build-launcher.sh, windows-setup/build-setup.sh

New translations Portuguese from Crowdin [skip ci]
  po/pt_PT.po
Due: none

New translations Russian from Crowdin [skip ci]
  po/ru.po
Due: none

New translations Swedish from Crowdin [skip ci]
  po/sv.po
Due: none

New translations Ukrainian from Crowdin [skip ci]
  po/uk_UA.po
Due: none

New translations Chinese Simplified from Crowdin [skip ci]
  po/zh.po
Due: none

New translations Portuguese, Brazilian from Crowdin [skip ci]
  po/pt_BR.po
Due: none

Fix poppler includes
  src/core/view/TexImageView.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

New translations Italian from Crowdin [skip ci]
  po/it.po
Due: none

New translations Dutch from Crowdin [skip ci]
  po/nl.po
Due: none

Unify Shape recognizer strings
  src/core/gui/dialog/ButtonConfigGui.cpp
  src/core/gui/toolbarMenubar/ToolDrawCombocontrol.cpp
  src/core/gui/toolbarMenubar/ToolMenuHandler.cpp
  src/core/undo/RecognizerUndoAction.cpp
  ui/settings.glade
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

MetadataManager: Remove file-local static declarations from header
  src/core/control/settings/MetadataManager.cpp
  src/core/control/settings/MetadataManager.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fix some translatable string and improve context This is based on mistakeis/questions flagged by translators on Crowdin
  src/core/control/XournalMain.cpp
  src/core/gui/sidebar/Sidebar.cpp
  ui/settings.glade
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add Util::getStateSubfolder()
  src/util/PathUtil.cpp
  src/util/include/util/PathUtil.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add migration routine for metadata directory
  src/core/control/settings/MetadataManager.cpp
  src/core/control/settings/MetadataManager.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Move metadata from config to state directory
  src/core/control/settings/MetadataManager.cpp
  src/core/control/settings/MetadataManager.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Reformat MetadataManager.cpp
  src/core/control/settings/MetadataManager.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Refactor MetadataManager to use std::unique_ptr<MetadataEntry>
  src/core/control/settings/MetadataManager.cpp
  src/core/control/settings/MetadataManager.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

[skip ci] Update translation template
  po/xournalpp.pot
Due: none

New translations Romanian from Crowdin [skip ci]
  po/ro.po
Due: none

luapi: add function to obtain the pdf pagelabel
  plugins/luapi_application.def.lua
  src/core/pdf/base/XojPdfPage.h
  src/core/pdf/popplerapi/PopplerGlibPage.cpp
  src/core/pdf/popplerapi/PopplerGlibPage.h
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

plugin: add a plugin to step through beamer presentations slide by slide (not page by page)
  plugins/BeamerPresentation/main.lua
  plugins/BeamerPresentation/plugin.ini
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Update changelog for 1.2.4
  CHANGELOG.md
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

add a plugin which automatically inserts empty pages
  plugins/SpaceForNotes/main.lua
  plugins/SpaceForNotes/plugin.ini
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

New translations German from Crowdin [skip ci]
  po/de.po
Due: none

New Crowdin updates (#5957)
  po/af_ZA.po
  po/ar.po
  po/bn_BD.po
  po/ca.po
  po/cs.po
  po/da.po
  po/de.po
  po/el.po
  po/eo_UY.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/gl.po
  po/he.po
  po/hi.po
  po/hu.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/ml_IN.po
  po/nl.po
  po/no.po
  po/pl.po
  po/pt_BR.po
  po/pt_PT.po
  po/ro.po
  po/ru.po
  po/si_LK.po
  po/sl_SI.po
  po/sv.po
  po/ta_IN.po
  po/th.po
  po/tr.po
  po/uk_UA.po
  po/vi.po
  po/zh.po
  po/zh_HK.po
  po/zh_TW.po
Due: none

Release 1.2.4
  CHANGELOG.md
  CMakeLists.txt
  debian/changelog
  desktop/com.github.xournalpp.xournalpp.appdata.xml
  mac-setup/Info.plist
  rpm/fedora/xournalpp.spec
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Automated version bump to 1.2.5~dev
  CHANGELOG.md
  CMakeLists.txt
  debian/changelog
  desktop/com.github.xournalpp.xournalpp.appdata.xml
  mac-setup/Info.plist
  rpm/fedora/xournalpp.spec
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

test github actions
  .cirrus.yml
  .github/workflows/clang-format-applied.yml
  .github/workflows/cmake-multiplatform.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/dependencies/debian-dockerfile
  .github/workflows/dependencies/msys2-blob.yml
  .github/workflows/jobs/release_ubuntu.yml
  .github/workflows/steps/build_linux.yml
  .github/workflows/steps/build_mac.yml
  .github/workflows/steps/build_windows.yml
  .github/workflows/steps/install_deps_ubuntu.yml
  .github/workflows/util/build_appimage.sh
  azure-pipelines/clang-format-applied.yml
  azure-pipelines/create-installers.yml
  azure-pipelines/gen-lua-def-run.yml
  azure-pipelines/release.yml
  azure-pipelines/translation.yml
  src/core/model/Text.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

race
  azure-pipelines/clang-format-applied.yml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

flip
  .github/workflows/clang-format-applied.yml
  src/core/model/Text.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

toto
  azure-pipelines/clang-format-applied.yml
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

race
  .github/workflows/clang-format-applied.yml
  azure-pipelines/clang-format-applied.yml
  src/core/model/Text.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml
