Repository xournalpp/xournalpp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/util/mingw-blob.yml

Path conditions:
  azure-pipelines/CI.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/clang-format-applied.yml: any of: *, but not: po/xournalpp.pot, po/*.po
  azure-pipelines/continuous-integration.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/util/mingw-blob.yml: any of: windows-setup/build-*.sh, but not: windows-setup/build-launcher.sh, windows-setup/build-setup.sh

New translations Esperanto from Crowdin [skip ci]
  po/eo_UY.po
Due: none

Add CONTRIBUTING.md (#3085)
  CONTRIBUTING.md
Due: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml

Allow system gtest; add explicit download flag
  azure-pipelines/continuous-integration.yml
  azure-pipelines/jobs/release_ubuntu.yml
  azure-pipelines/release.yml
  azure-pipelines/steps/install_deps_ubuntu.yml
  readme/LinuxBuild.md
  test/CMakeLists.txt
  test/unit_tests/control/ToolEnumsTest.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml

ci: Remove cppunit download from mac build
  azure-pipelines/steps/build_mac.yml
Due: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml

make toolbar and menubar not react to dragging
  ui/xournalpp.css
Due: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml

New Crowdin updates (#3871)
  po/ar.po
  po/de.po
  po/eo_UY.po
  po/es.po
  po/eu.po
  po/fr.po
  po/hu.po
  po/it.po
  po/ko.po
Due: none

New translations Chinese Traditional from Crowdin [skip ci]
  po/zh_TW.po
Due: none

Updated spec file (#3892)
  rpm/fedora/xournalpp.spec
Due: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml

Fix backtrace linker flags
  CMakeLists.txt
  src/util/CMakeLists.txt
Due: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml

replace portaudio and lua build scripts on windows
  azure-pipelines/dependencies/msys2-blob.yml
  azure-pipelines/steps/build_windows.yml
  windows-setup/build-lua.sh
  windows-setup/build-portaudio.sh
Due: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/util/mingw-blob.yml

update windows build readme
  readme/WindowsBuild.md
Due: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml

New translations Russian from Crowdin [skip ci]
  po/ru.po
Due: none

[skip ci] ci: fix create-installers for Debian
  azure-pipelines/create-installers.yml
Due: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml

New translations Polish from Crowdin [skip ci]
  po/pl.po
Due: none

New translations Basque from Crowdin [skip ci]
  po/eu.po
Due: none

Update poppler version on MacOS
  mac-setup/build-poppler.sh
Due: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml

Add "Show filepath in titlebar" field to settings
  src/core/control/settings/Settings.cpp
  src/core/control/settings/Settings.h
  src/core/gui/dialog/SettingsDialog.cpp
  ui/settings.glade
Due: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml

Update window title based on settings
  src/core/control/Control.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml

Syntax fix
  src/core/control/settings/Settings.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml
