Repository xournalpp/xournalpp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/CI.yml, azure-pipelines/clang-format-applied.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/dependencies/msys2-blob.yml, azure-pipelines/gen-lua-def-run.yml, azure-pipelines/util/mingw-blob.yml

azure-pipelines/CI.yml:
  stages:
  - stage: Build_Test_Stage
    jobs:
    - job: Linux
      pool:
        vmImage: ubuntu-16.04
      displayName: Test Xournal++ on Linux
      steps:
      - template: steps/build_linux.yml
        parameters:
          build_type: Debug
  ...

azure-pipelines/clang-format-applied.yml:
  stages:
  - stage: Build_Test_Stage
    jobs:
    - job: Build_Test
      pool:
        vmImage: ubuntu-20.04
      displayName: Test for correct Clang formatting
      variables:
      - name: CLANG_FORMAT_VERSIONS
        value: 15 16
      steps:
      - checkout: self
  ...

azure-pipelines/continuous-integration.yml:
  stages:
  - stage: Build_Test_Stage
    jobs:
    - job: Linux
      pool:
        vmImage: ubuntu-22.04
      displayName: Test Xournal++ on Linux
      steps:
      - template: steps/install_deps_ubuntu.yml
      - template: steps/build_linux.yml
        parameters:
          build_type: Debug
  ...

azure-pipelines/dependencies/msys2-blob.yml:
  pool:
    vmImage: windows-2019
  steps:
  - script: 'git clone https://github.com/msys2/msys2-ci-base.git C:\msys64
  
      rm -rf C:\msys64\.git
  
      '
    displayName: Install MSYS2
  - script: 'set PATH=C:\msys64\usr\bin;C:\msys64\mingw64\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
  
  ...

azure-pipelines/gen-lua-def-run.yml:
  stages:
  - stage: Build_Test_Stage
    jobs:
    - job: Build_Test
      pool:
        vmImage: ubuntu-20.04
      displayName: Test if lua definitions file is up-to-date
      steps:
      - checkout: self
      - bash: 'sudo apt-get update
  
          sudo apt-get install python3
  
          '
  ...

azure-pipelines/util/mingw-blob.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - script: 'git clone https://github.com/msys2/msys2-ci-base.git C:\msys64
  
      rm -rf C:\msys64\.git
  
      '
    displayName: Install MSYS2
  - script: 'set PATH=C:\msys64\usr\bin;C:\msys64\mingw64\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
  
  ...

Give menu shortcuts the lowest priority
  src/core/gui/menus/menubar/Menubar.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Restore clipboard and Drag-n-Drop functions
  src/core/control/ClipboardHandler.cpp
  src/core/control/ClipboardHandler.h
  src/core/control/Control.cpp
  src/core/gui/MainWindow.cpp
  src/core/gui/MainWindow.h
  src/util/include/util/raii/GBytesSPtr.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Workaround sidebar miniature layout bug in HiDPI situations by keeping lowDPI miniatures
  src/core/gui/sidebar/previews/base/SidebarPreviewBaseEntry.cpp
  src/core/gui/sidebar/previews/base/SidebarPreviewBaseEntry.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Claude 20260714-055533
  CHANGELOG.md
  ZOOM_DRAW_FEATURE.md
  src/core/control/ToolEnums.cpp
  src/core/control/ToolEnums.h
  src/core/control/ToolHandler.cpp
  src/core/control/ZoomDrawController.cpp
  src/core/control/ZoomDrawController.h
  src/core/control/settings/Settings.cpp
  src/core/control/settings/Settings.h
  src/core/gui/PageView.cpp
  src/core/gui/PageView.h
  src/core/gui/XournalppCursor.cpp
  src/core/gui/dialog/ZoomDrawDialog.cpp
  src/core/gui/dialog/ZoomDrawDialog.h
  src/core/gui/toolbarMenubar/ToolMenuHandler.cpp
  ui/iconsColor-dark/hicolor/scalable/actions/xopp-tool-zoom-draw.svg
  ui/iconsColor-light/hicolor/scalable/actions/xopp-tool-zoom-draw.svg
  ui/iconsLucide-dark/hicolor/scalable/actions/xopp-tool-zoom-draw.svg
  ui/iconsLucide-light/hicolor/scalable/actions/xopp-tool-zoom-draw.svg
  ui/mainmenubar.xml
  ui/zoomDrawDialog.glade
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Claude suggest to undo assert of 14194e2
  src/core/gui/inputdevices/InputUtils.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add text alignment and justify
  plugins/luapi_application.def.lua
  resources-templates/toolbar.ini.in
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/control/ToolBase.h
  src/core/control/ToolEnums.cpp
  src/core/control/ToolEnums.h
  src/core/control/ToolHandler.cpp
  src/core/control/ToolHandler.h
  src/core/control/actions/ActionProperties.h
  src/core/control/tools/TextEditor.cpp
  src/core/control/tools/TextEditor.h
  src/core/control/xojfile/DocumentBuilderInterface.h
  src/core/control/xojfile/LoadHandler.cpp
  src/core/control/xojfile/LoadHandler.h
  src/core/control/xojfile/SaveHandler.cpp
  src/core/control/xojfile/XmlAttrs.h
  src/core/control/xojfile/XmlParser.cpp
  src/core/enums/Action.enum.h
  src/core/enums/generated/Action.NameMap.generated.h
  src/core/gui/toolbarMenubar/ToolMenuHandler.cpp
  src/core/model/Text.cpp
  src/core/model/Text.h
  src/core/view/overlays/TextEditionView.cpp
  src/util/include/util/GVariantTemplate.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Add "wrap" field to app.addTexts and app.getTexts
  plugins/luapi_application.def.lua
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Add Lua API app.addLinks
  plugins/luapi_application.def.lua
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Add Lua API app.getLinks
  plugins/luapi_application.def.lua
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Fix applib_changeToolColor for tools whose names are not all lowercase.
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Update translation files
  po/de.po
  po/ro.po
  po/xournalpp.pot
  po/zh_TW.po
Due: none

Add Lua API app.C.Alignment_*
  .github/workflows/gen-lua-def-run.yml
  plugins/luapi_application.def.lua
  scripts/lua_def_file.py
  src/core/model/TextAlignment.h
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

More careful document locking
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

Only add wrap field in return value of app.getTexts if text is wrapped
  plugins/luapi_application.def.lua
  src/core/plugin/luapi_application.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml, azure-pipelines/gen-lua-def-run.yml

feature: keep hues for dark mode inversion
  src/core/control/settings/Settings.cpp
  src/core/gui/dialog/SettingsDialog.cpp
  src/util/Recolor.cpp
  src/util/include/util/Recolor.h
  ui/settings.glade
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

feat: Native Bookmarks
  resources-templates/toolbar.ini.in
  src/core/control/Control.cpp
  src/core/control/Control.h
  src/core/control/actions/ActionProperties.h
  src/core/control/xojfile/DocumentBuilderInterface.h
  src/core/control/xojfile/LoadHandler.cpp
  src/core/control/xojfile/LoadHandler.h
  src/core/control/xojfile/SaveHandler.cpp
  src/core/control/xojfile/XmlAttrs.h
  src/core/control/xojfile/XmlParser.cpp
  src/core/enums/Action.enum.h
  src/core/enums/generated/Action.NameMap.generated.h
  src/core/gui/dialog/BookmarkDialog.cpp
  src/core/gui/dialog/BookmarkDialog.h
  src/core/gui/sidebar/Sidebar.cpp
  src/core/gui/sidebar/bookmarks/SidebarBookmarks.cpp
  src/core/gui/sidebar/bookmarks/SidebarBookmarks.h
  src/core/gui/sidebar/previews/page/SidebarPreviewPageEntry.cpp
  src/core/gui/sidebar/previews/page/SidebarPreviewPageEntry.h
  src/core/gui/sidebar/previews/page/SidebarPreviewPages.cpp
  src/core/gui/sidebar/previews/page/SidebarPreviewPages.h
  src/core/gui/toolbarMenubar/ToolMenuHandler.cpp
  src/core/model/Document.cpp
  src/core/model/Document.h
  src/core/model/DocumentChangeType.h
  src/core/model/XojPage.cpp
  src/core/model/XojPage.h
  src/core/pdf/base/XojCairoPdfExport.cpp
  src/core/pdf/base/XojCairoPdfExport.h
  src/core/undo/BookmarkUndoAction.cpp
  src/core/undo/BookmarkUndoAction.h
  test/files/load/bookmarks.xopp
  test/unit_tests/control/LoadHandlerTest.cpp
  test/unit_tests/model/BookmarkTest.cpp
  ui/iconsColor-dark/hicolor/scalable/actions/xopp-bookmark.svg
  ui/iconsColor-light/hicolor/scalable/actions/xopp-bookmark.svg
  ui/iconsLucide-dark/hicolor/scalable/actions/xopp-bookmark.svg
  ui/iconsLucide-light/hicolor/scalable/actions/xopp-bookmark.svg
  ui/mainmenubar.xml
  ui/sidebar.ui
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

fireBookmarkChanged
  src/core/control/Control.cpp
  src/core/gui/sidebar/previews/page/SidebarPreviewPages.cpp
  src/core/gui/sidebar/previews/page/SidebarPreviewPages.h
  src/core/model/DocumentHandler.cpp
  src/core/model/DocumentHandler.h
  src/core/model/DocumentListener.cpp
  src/core/model/DocumentListener.h
  src/core/undo/BookmarkUndoAction.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Apply minor requested changes
  src/core/control/Control.cpp
  src/core/gui/sidebar/Sidebar.cpp
  src/core/gui/sidebar/previews/page/SidebarPreviewPageEntry.cpp
  src/core/undo/BookmarkUndoAction.cpp
  test/files/load/bookmarks.xml
  test/files/load/bookmarks.xopp
  test/unit_tests/control/LoadHandlerTest.cpp
  test/unit_tests/model/BookmarkTest.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Optimize page preview bookmark icon repaint
  src/core/control/Control.cpp
  src/core/gui/sidebar/previews/page/SidebarPreviewPages.cpp
  src/core/gui/sidebar/previews/page/SidebarPreviewPages.h
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

fix: clang-format (again)
  src/core/control/Control.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Small fixes
  src/core/control/xojfile/XmlParser.cpp
  src/core/gui/sidebar/bookmarks/SidebarBookmarks.cpp
  src/core/model/Document.cpp
  src/core/pdf/base/XojCairoPdfExport.cpp
  src/core/pdf/base/XojCairoPdfExport.h
  src/core/undo/BookmarkUndoAction.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

fix: Lua definitions and clang-format
  plugins/luapi_application.def.lua
  src/core/control/Control.cpp
  src/core/control/xojfile/XmlParser.cpp
  src/core/gui/dialog/BookmarkDialog.cpp
  src/core/gui/dialog/BookmarkDialog.h
  src/core/gui/sidebar/Sidebar.cpp
  src/core/gui/sidebar/bookmarks/SidebarBookmarks.cpp
  src/core/gui/sidebar/bookmarks/SidebarBookmarks.h
  src/core/gui/sidebar/previews/page/SidebarPreviewPageEntry.cpp
  src/core/gui/sidebar/previews/page/SidebarPreviewPages.cpp
  src/core/model/Document.cpp
  src/core/model/DocumentChangeType.h
  src/core/pdf/base/XojCairoPdfExport.cpp
  src/core/undo/BookmarkUndoAction.cpp
  src/core/undo/BookmarkUndoAction.h
  test/unit_tests/model/BookmarkTest.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Change UI to glade and adapt to GTK4
  src/core/control/Control.cpp
  src/core/gui/dialog/BookmarkDialog.cpp
  src/core/gui/dialog/BookmarkDialog.h
  src/core/gui/sidebar/bookmarks/SidebarBookmarks.cpp
  src/core/gui/sidebar/previews/page/SidebarPreviewPageEntry.cpp
  ui/bookmarkDialog.glade
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Change SidebarBookmkars UI to glade
  src/core/gui/sidebar/bookmarks/SidebarBookmarks.cpp
  src/core/gui/sidebar/previews/page/SidebarPreviewPageEntry.cpp
  test/unit_tests/control/LoadHandlerTest.cpp
  ui/sidebarBookmarks.glade
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Fix link Alignment being saved as int
  src/core/control/xojfile/SaveHandler.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

feat: Add TRAD precision ruler with edge-snapping and anti-clockwise readout
  src/core/control/tools/StrokeHandler.cpp
  src/core/gui/PageView.cpp
  src/core/view/overlays/StrokeToolView.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

fix: Reduce ruler snapping radius to 5 pixels to prevent stroke jumping
  src/core/control/tools/StrokeHandler.cpp
Due: azure-pipelines/CI.yml, azure-pipelines/continuous-integration.yml

Path conditions:
  azure-pipelines/CI.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/clang-format-applied.yml: any of: *.c, *.cpp, *.h, *.hpp, but not: po/xournalpp.pot, po/*.po
  azure-pipelines/continuous-integration.yml: any file but: po/xournalpp.pot, po/*.po
  azure-pipelines/dependencies/msys2-blob.yml: any of: windows-setup/build-*.sh
  azure-pipelines/gen-lua-def-run.yml: any of: src/core/plugin/luapi_application.h
  azure-pipelines/util/mingw-blob.yml: any of: windows-setup/build-*.sh, but not: windows-setup/build-launcher.sh, windows-setup/build-setup.sh
